.body{
    background-color: rgb(246, 239, 250);
    margin: 20px;
    padding: 50px;
}
.font_fira_sans{

}
.font {
   font-family: @import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
}

.fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }

.flex_default{
    display: flex;
    justify-content: space-between;
    
}

.Banner{
    display: flex;
    padding: auto;
    background: #C6E4D6;
    border-radius: 10px;
    width: 100%;
    height: auto;
}

.pillars{
    display: flex;
    
}

.items{
    margin: 10px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
}



.comon_margin{
    margin: 5px;
    padding: 50px;
}

button{
    background-color:#006A50;
    border-radius: 3px;
    border: none;
    color: white;
    padding: 5px;

}

.center{
    align-items: center;
}

.items_c_sky{
    margin: 10px;
    padding: 10px;
    background-color: rgb(201, 241, 248);
    border-radius: 10px;
}

.items_c_green{
    margin: 10px;
    padding: 10px;
    background-color: rgb(174, 243, 189);
    border-radius: 10px;
}

.items_c_gold{
    margin: 10px;
    padding: 10px;
    background-color: rgb(238, 250, 187);
    border-radius: 10px;
}

table{
    border: solid;
}
td, td{
    border: solid;
}