.body{
    background-color: rgb(246, 239, 250);
    margin: 20px;
    padding: 50px;
}
.font_fira_sans{

}
* {font-family: url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
}
.btn{

}

.flex_default{
    display: flex;
    justify-content: space-between;
    
}

.main_section{
    display: flex;
    padding: auto;
    background: #C6E4D6;
    border-radius: 10px;
    width: 100%;
    height: auto;
}

.pillars{
    display: flex;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
}


.comon_margin{
    margin: 5px;
    padding: 50px;
}
